// Tipografias //
$roboto-font: "Big Shoulders", sans-serif;

// Colores //
$color-orange: #d5966c;
$color-black: #151515;
$color-grey: #444444;

// Breakpoints //
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
