@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as m;

.location__map {
    
        position: relative;
        width: 100%;
        height: 550px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include m.breakpoint(tablet){
            height: 600px;
        }
    

    .header__button {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        &-boton {
            @include m.button($bg-color: $color-black, $color: white, $rotate: true);
        }
        @include m.breakpoint(tablet){
            left:39px
        }
    }
}
